body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

/* HEADER STYLES */
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Line under header */
  gap: 550px;
  color: black;
  border-bottom: 1px solid black;
}

.logo img {
  width: 8%;
  height: auto;
  margin-bottom: 10px;
}

/* SECTION 1 STYLES */

/* ENTIRE SECTION */
.section1 {
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* MAIN BIG TEXT */
.main-text {
  font-weight: bold;
  font-size: 48px;
  color: black;
}

/* SUBTEXT UNDER BIG TEXT */
.subtext1 {
  font-size: 18px;
  color: black;
}

/* GROUPED TEXTS */
.textgroup1 {
  width: 460px;
  height: auto;
}

/* IMAGE TO THE RIGHT OF TEXT */
.subimage1 {
  width: 500px;
  height: auto;
}

/* ALL ELEMENTS WITHIN SECTION GROUPED. TEXT + IMAGE */
.subsection1 {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

/* SECTION 2 STYLES */

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
/* TOP HEADER TEXT */
.info-header {
  font-size: 36px;
  font-weight: bold;
}

/* HEADER SUBTEXT */

.header-subtext {
  font-size: 15px;
  color: black;
}

/* CLOTHES CONTAINER */
.clothes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* IMAGES */
.clothes img {
  height: auto;
  width: 300px;
}
